{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaires</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header class="header">
        <h1>Retrouvez l'ensemble de vos questionnaires</h1>
    </header>

    <nav class="navbar">
        <ul>
            <li><a href="{% url 'index' %}">Accueil</a></li>
            <li class="dropdown">
             <li><a href="{% url 'questionnaires' %}">Questionnaires</a></li>
                <ul class="submenu">
                    <li><a href="{% url 'questionnaires_prives' %}">Mon espace</a></li>
                    <li><a href="{% url 'questionnaires_publics'%}">Espace public</a></li>
                </ul>
            </li>
            <li><a href="{% url 'droits' %}">Droits</a></li>
            <li><a href="#">Langues</a></li>
            <li><a href="{% url 'sign' %}">Connexion</a></li>
        </ul>
    </nav>

    <main class="main-content">
        <section>
            <p>Bienvenue dans votre espace questionnaires. Vous pouvez :</p>
            <ul>
                <li>Consulter vos questionnaires enregistrés</li>
                <li>Créer un nouveau questionnaire</li>
                <li>Modifier ou supprimer un questionnaire existant</li>
                <li>Consulter d'autres questionnaires en ligne</li>
            </ul>

            <div class="actions">
                <a href="{% url 'creation' %}"><button class="btn-publier">Créer un questionnaire</button></a>
                <a href="{% url 'questionnaires_prives' %}"><button class="btn-publier">Voir mes questionnaires</button></a>
                <a href="{% url 'questionnaires_publics' %}"><button class="btn-publier">Voir les questionnaires publics</button></a>

            </div>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2025 Plateforme de témoignage. Tous droits réservés.</p>
    </footer>

<form id="questionForm" style="display:none;">
  {% csrf_token %}
</form>


</body>
</html>

