<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Témoignage</title>
</head>

<body>

    <header> 
        Partagez vos expériences en répondant aux questions de votre choix ! 
    </header>

    <nav class="navbar">
        <ul>
            <li><a href="{% url 'index' %}">Accueil</a></li>
            <li><a href="{% url 'questionnaires' %}">Questionnaires</a></li>
            <li><a href="{% url 'droits' %}">Droits</a></li>
            <li><a href="#">Langues</a></li>
            <li><a href="{% url 'sign' %}">Connexion</a></li>
        </ul>
    </nav>

    
</body>

</html>