<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Droits</title>
</head>

<body>
    
    <nav class="navbar">
        <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="Questionnaires.html">Questionnaires</a></li>
            <li><a href="droits.html">Droits</a></li>
            <li><a href="#">Langues</a></li>
            <li><a href="sign.html">Connexion</a></li>
        </ul>
    </nav>
    
</body>

<footer class="footer">
    <p>&copy; 2025 Plateforme de témoignage. Tous droits réservés.</p>
</footer>

</html>