<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Témoignage</title>
</head>

<body>

    <header> 
        Partagez vos expériences en répondant aux questions de votre choix ! 
    </header>

    <nav>
        <a href="index.html">Accueil</a>
        <a href="Questionnaires">Questionnaires</a>
        <a href="droits.html">Droits</a>
        <a href="#">Langues</a>
        <a href="sign.html">Connexion</a>
    </nav>
    
</body>

</html>